@model LoginVM
@{
    ViewData["Title"] = "Login";
}


<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height"
         data-bg-image="assets/images/breadcrumb/bg/1-1-1919x388.jpg">
        <div class="container h-100">
            <div class="row h-100">

            </div>
        </div>
    </div>
   
    <div class="login-register-area section-space-y-axis-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                            <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                    <form method="post">
                        <div class="login-form">

                            <h4 class="login-title">Login</h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Username</label>
                                    <input asp-for="Username" placeholder="Username"><br />
                                    <span asp-validation-for="Username" class="text text-danger"></span>
                                </div>
                                <div class="col-lg-12">
                                    <label>Password</label>
                                    <input asp-for="Password" placeholder="Password"><br />
                                    <span asp-validation-for="Password" class="text text-danger"></span>
                                </div>
                                <div class="col-md-8">
                                    <div class="check-box">
                                        <input asp-for="RememberMe">
                                        <label for="remember_me">Remember me</label>
                                    </div>
                                </div>
                                <div class="col-md-4 pt-1 mt-md-0">
                                    <div class="forgotton-password_info">
                                        <a href="#"> Forgotten pasward?</a>
                                    </div>
                                </div>
                                <div class="col-lg-12 pt-5">
                                    <button type="submit" class="btn btn-outline-warning border-2">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
