@model List<Clothes>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            

        </tr>
    </thead>
    <tbody>
       @foreach (Clothes clothes in Model)
       {
        <tr>
            <td> @clothes.Id</td>
            <td> <img width="100" src="~/assets/img/@clothes.ClothesImages.FirstOrDefault(c=>c.IsMain==true).Name" 
                      alt="@clothes.ClothesImages.FirstOrDefault(c=>c.IsMain==true).Alternative" />
            </td>
            <td>@clothes.Name</td>
            <td>@clothes.Price</td>
        </tr>
       }
    </tbody>
</table>